@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Global Variables */
$black: #000;
$white: #fff;

/* theme Colors */
$primaryOne: #EF6224;
$primaryTwo: #D24D27;
$secondary: #1D1E31;
$pri-blue:#439BC2;
$pri-skyblue: #5EB8E0;
$pri-light-blue: #EDF4FC;
$light-white:#E9F0F8;
$green:#87CABB;
$yellow:#CBC483;
$pink:#D9A3A3;
$input-bg:#F3F8FD; 
$dark-gray:#1C1C1C;
$dark-black:#001118;
$light-black:rgba(29, 30, 49, 0.8);
$light-pink:#E9AFAF;
$clr-note: #52BDA4;
$clr-info: #17A2B8;
$clr-green: #28A745;
$clr-yellow: #FFC107;
$clr-pink: #DC3545;


/*  Font Family Variables */ 
$dm-sans: 'DM Sans', sans-serif;

/*  Font Weight Variables */
$w-light:300;
$w-regular:400;
$w-medium :500;
$w-semibold :600;
$w-bold :700;
$w-extrabold :800;
